* {
    box-sizing: border-box;
}


html {
font-size: x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
scroll-behavior: smooth;
}

body {
    scrollbar-color: purple;
    background-image: url(moises-guillen.jpg);
    background-size: 100%;
background-color: #9a8bd4;
text-align: center;
}
.header {
    background-color: rgba(119, 255, 235, 0.589);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 647px;
    z-index: 1;
    
}
.logo {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 100%);
}
.menu {
    list-style: none;
    margin: 0%;
    padding: 60px;
    display: flex;
    padding: 1rem; 
    text-align: justify;
}
.menu a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background: #E2F89C;
    color: #726DA8;
    border-radius: 1rem;
}
#flex {
    display: inline-flex;
    justify-content: space-between;
}

h1 {
    padding: 0px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
p {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: larger;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    text-align: justify;
}
.banner {
    background-color: #5f5694;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;
    padding: 35px;
}
.editorial {
    transition: opacity 3s;
    padding-bottom: 40px;
    color: #120d31;
   
}
.banner2 {
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #5f5694 ;
}
.art {
display: flex;
}

.banner3 {
    background-color: #5f5694 ;
    border: 5px dotted #a0d2db;
    font-size: larger;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.about-me {

    color: #120d31;
  border: 5px dotted #a0d2db;
  background-color: #5f5694;
 
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 150px;
}
.share {
    padding: 14px;
  background: #a0d2db;
  border: 1px solid #a0d2db;
  border-radius: 7px;
  color: #7D8CC4;
  display: inline-block;
  text-decoration: none;
}
